.container {
  min-height: 100vh;
  background: rgb(180, 58, 166);
  background: linear-gradient(
    90deg,
    rgba(180, 58, 166, 0.16656169303658963) 0%,
    rgba(255, 255, 255, 0.4410714969581583) 21%,
    rgba(255, 255, 255, 0.06011911600577735) 87%,
    rgba(252, 176, 69, 0.19737401796656162) 100%
  );
}
